body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

button.delete {
  background: none;
  border: none;
}

.delete img {
  width: 1rem;
}

.add-form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
  margin: 0 auto;
  max-width: 764px;
}

li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
